<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrmConn01" connectionString="AuthType=Office365;Url=https://testingtestov201901.crm4.dynamics.com/;UserName=Testing1@TestingTestov201901.onmicrosoft.com;Password=Wdi243241231" />
  </connectionStrings>
</configuration>